@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Page global settings start */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* Page global settings ends */

/* Header block start */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  width: 154px;
  height: 31px;
  background-size: cover;
  background-position: center;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.png);
}

.header__title {
  margin: 0;
  padding: 0;
  line-height: 96px;
  font-size: 102px;
  width: 730px;
  margin-left: 64px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: .6;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation linear 20s infinite;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Header block ends */

/* Description start */
.description {
  margin-top: 100px;
}
/* Description ends */

/* Global two-columns start */
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  color: #2F80ED;
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 30px 0 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-bold {
  font-weight: bold;
}
/* Global two-columns ends */
 
/* Global sections title and subtitle start */
.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0 20%;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0;
  padding: 0 20%;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}
/* Global sections title and subtitle end */

/* Techniques block start */
.techniques {
  width: 80%;
  margin: 100px auto 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-content: space-between;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
  margin-top: 60px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__item:last-of-type {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: auto;
  background-size: cover;
  background-position: center;
  display: block;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 43px 0 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  margin: 16px 0 0;
  text-align: center;
  font-weight: normal;
}
/* Techniques block ends */

/* Video block start */
.video {
  width: 80%;
  margin: 100px auto 0;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.video__iframe:last-of-type {
  margin-right: 0;
}
/* Video block ends */

/* Oakley block */
.oakley {
  background-color: #F2F2F2;
  padding: 160px 0 0;
  position: relative;
  z-index: -1;
}

.oakley-feynman-space{
  height: 80px;
  background-color: #F2F2F2;
}
/* Video block ends */

/* Feynman block start */
.feynman {
  min-height: 790px;
  background-color: #F2F2F2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  width: 775px;
  margin: 0 auto;
  font-weight: bold;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin: 70px 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity .2s linear;
}

.feynman__link:hover {
  opacity: .6;
}
/* Feynman block ends */

/* Digits block start */
.digits {
  margin-top: 100px;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  margin: 20px 0 0;
  line-height: 1.2;
}
/* Digits block ends */

/* Khan block start */
.khan {
  margin-top: 100px;
  background-color: #F2F2F2; 
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 55px 0 0;
  width: 790px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 36px 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  height: 608px;
  width: 620px;
  background-image: url(../images/khan-book-2.png);
  background-size: cover;
  background-position: 0 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  margin-left: 20px;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  opacity: .6;
}
/* Khan block ends */

/* Kaufman block start */
.kaufman {
  background-color: #1F1F1F;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.table_theme_dark_kaufman {
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  overflow: hidden;
  animation: rotation linear 20s infinite; 
}
/* Kaufman block ends */

/* Resources block start */
.resources {
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 155px;
  align-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.resources__logo_polka {
  background-image: url(../images/logo/resources-goodreads.png);
}
.resources__logo_n1 {
  background-image: url(../images/logo/resources-Medium.png);
}

.resources__logo_strelka {
  background-image: url(../images/logo/resources-dezeen.png);
}
.resources__logo_arzamas {
  background-image: url(../images/logo/resources-tedED.png);
}
/* Resources block ends */

/* Footer block start */
.footer {
  background-color: #1F1F1F;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  display: flex;
}

.footer__columns {
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.logo_place_footer {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
  background-image: url(../images/logo_place_footer.png); 
}

.footer__author {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: block;
}

.footer__link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  color: #FFF;
  transition: opacity .2s linear;
}

.footer__link:hover {
  opacity: .6;
}

.footer__social-icon {
  margin-right: 10px;
}
/* Footer block ends */